body{
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    color: gray;
    font-size: 12pt;
}
    
h1{
    text-align: center;
    font-weight: bold;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}

header img{
    width: 5vw;
    margin-right: 15px;
    padding: 5px;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 12pt;
    margin-left: 15px;

}

aside{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
}

section{
    margin-left: 10px;
}

h2{
    padding: 10px;
    margin: 20px 0px 10px 0px 10px;
}

.receita{
    line-height: 20px;
    margin-left: 20px
}
